[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "~=0.116.1"}
pillow = "~=11.3.0"
jinja2 = "~=3.1.6"
kaesebrot_commons = {git = "https://github.com/das-kaesebrot/python-commons.git", ref = "v0.0.3"}
inotify = "~=0.2.12"

[dev-packages]
flake8 = "~=7.1.2"
pytest = "~=8.4.2"

[requires]
python_version = "3.12"
