{% extends "base.html" %}

{% block title %}{{ site_title }} | {{ image_id }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{%- block opengraph_title -%}
{%- if is_direct_request -%}
{{ image_id }}
{% else %}
A random image
{%- endif -%}
{%- endblock -%}

{%- block opengraph_site_name -%}
{{ site_emoji }} {{ site_title }}
{%- endblock -%}

{% block opengraph_image_url %}
{%- if is_direct_request -%}
{{ url_for('api_get_image', image_id=image_id).include_query_params(thumb=True) }}
{% else %}
{{ url_for('api_get_image', image_id=default_card_image_id).include_query_params(thumb=True) }}
{%- endif -%}
{% endblock %}

{% block content %}
        <h1 class="pt-3 mt-4">{{ site_emoji }} {{ site_title }}</h1>
        <div class="align-items-center">
            <div class="mt-2">
                <a href="{{ url_for('api_get_image', image_id=image_id) }}">
                    <img id="image" class="rounded img-fluid" alt="Image {{ image_id }}" />
                </a>
            </div>
            <div class="mt-3 row justify-content-md-center">
                <div class="col-md-auto mt-1 dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {%- include 'svg/bi-download.svg' %} Download
                    </button>
                    <ul class="dropdown-menu">
                        {% for variant in resolution_data.variant_ladder -%}
                        {% if variant.width == resolution_data.current_width -%}
                        <li>
                            <a id="download" class="dropdown-item" download="{{ image_filename }}">
                                {%- include 'svg/bi-download.svg' %} {{ variant.width }}x{{ variant.height }} (Cached)
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item" 
                                href="{{ url_for('api_get_image', image_id=image_id).include_query_params(download=True, width=variant.width) }}">
                                {%- include 'svg/bi-download.svg' %} {{ variant.width }}x{{ variant.height }}
                            </a>                                            
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-auto mt-1">
                    <a role="button" class="btn btn-secondary"
                        href="{{ url_for('page_get_image', image_id=image_id) }}">
                        {%- include 'svg/bi-link-45deg.svg' %} Permalink
                    </a>
                </div>
                <div class="col-md-auto mt-1">
                    <a id="clipboard-link" role="button" class="btn btn-secondary">
                        {%- include 'svg/bi-link-45deg.svg' %} Copy permalink
                    </a>
                </div>
                <div class="col-md-auto mt-1">
                    <a href="{{ url_for('page_redirect_rand_image') }}" role="button" class="btn btn-primary">
                        {%- include 'svg/bi-dice-3.svg' %} Random
                    </a>
                </div>
            </div>
            <div class="mt-2 pt-2">
                <code>Image ID: {{ image_id }}</code>
            </div>
        </div>

        <script>
            window.addEventListener("load", (event) => {
                document.getElementById('clipboard-link').addEventListener("click", async (e) => {
                    try {
                        await navigator.clipboard.writeText('{{ url_for('page_get_image', image_id=image_id) }}');
                        e.srcElement.classList.remove("btn-secondary");
                        e.srcElement.classList.add("btn-success");
                        await new Promise(r => setTimeout(r, 1000));
                        e.srcElement.classList.remove("btn-success");
                        e.srcElement.classList.add("btn-secondary");
                    } catch (err) {
                        console.error('Failed to copy: ', err);
                    }
                });
            });

            const imageUrl = "{{ url_for('api_get_image', image_id=image_id).include_query_params(width=resolution_data.current_width) }}";

            fetch(imageUrl)
                .then(res => res.blob())
                .then(blob => {
                    const blobUrl = URL.createObjectURL(blob);

                    document.getElementById("image").src = blobUrl;

                    const downloadLink = document.getElementById("download");
                    downloadLink.href = blobUrl;
                })
                .catch(err => console.error("Error loading image:", err));
        </script>
{% endblock %}
