<html data-bs-theme="dark">
<head>
    <title>Image {{ image_id }}</title>
    <script src="{{ url_for('static', path='/bootstrap/1756173047/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap/1756173047/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="text-center">
        <h2>{{ image_id }}</h2>
        <img id="image" class="rounded mx-auto d-block img-fluid" />
        </br>
        <a id="download" role="button" class="btn btn-primary" download="{{ image_filename }}">Download current resolution</a>
        <a role="button" class="btn btn-primary" href="{{ url_for('api_get_image', image_id=image_id).include_query_params(download=True) }}";>Download original</a>
        <a href="{{ url_for('page_redirect_rand_image') }}" role="button" class="btn btn-primary">New random image</a>
    </div>

    <script>
        const imageUrl = "{{ url_for('api_get_image', image_id=image_id).include_query_params(height=height) }}";

        fetch(imageUrl)
            .then(res => res.blob())
            .then(blob => {
                const blobUrl = URL.createObjectURL(blob);

                document.getElementById("image").src = blobUrl;

                const downloadLink = document.getElementById("download");
                downloadLink.href = blobUrl;
            })
            .catch(err => console.error("Error loading image:", err));
    </script>
</body>
</html>
